<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.practice.xml.UsersMapper">
    <resultMap id="userResultMap" type="com.mybatis.bean.Users">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
    </resultMap>

    <select id="selectUser" parameterType="string" resultMap="userResultMap">
        select * from orders where name = #{name}
    </select>

    <select id="selectOrder" parameterType="string" resultType="com.practice.bean.Users">
        select id as "id",
        name as "name",
        age as "age"
        from users where name = #{name}
    </select>

    <select id="getUser" parameterType="String"
            resultType="com.practice.bean.Users">
        select * from users where NAME =#{name}
    </select>
</mapper>